
:root{
    /* colours */
    --bg-primary-color:#010409;
    --bg-second-color:#333333;
    --text-primary-color:white;
    --text-second-color:orange;
    --text-third-color:orange;

    /* spacings */
    --spacing-5:0.5rem;
    --spacing-8:0.8rem;
    --spacing-10:1rem;
    --spacing-15:1.5rem;
    --spacing-20:2rem;
    --spacing-25:2.5rem;
    --spacing-36:3.6rem;
    --spacing-55:5.5rem;
    --spacing-70:7rem;
    --spacing-100:10rem;
    --spacing-130:13rem;
    --spacing-180:18rem;

    /* tipography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;
    --alternative-font-2:"Inter Variable",ui-sans-serif;

    /* Font Sizes */
    --font-display:4.5em;
    --font-small-s:0.9em;
    --font-small-l:1.2em;
    --font-small-lx:1.4em;
    --font-small:1.5em;
    --font-smallxl:1.6em;
    --font-medium:1.8em;
    --font-large:2.4em;
}

*,
*:before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{ 
    font-family: var(--base-font);
    font-size: 73.5%;
    color: var(--text-second-color);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
a{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header{
    font-family: var(--alternative-font-2);
    color: var(--text-second-color);
}

.footerContainer{
    background-color: #333333;
}
.footer{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
  }


  
  .link h4{
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  
  .links ul li a{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
  }

  .logo-1{
    width: 0;
  }

  .socials{
    display: flex;
  }
  
  .social{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #DB241B;
    border-radius: 50%;
  }
  
  .social:hover{
    background-color: #DB241B;
  }
  
  .social img{
    margin: 8px 0 0 8px
  }
main{
    background-color: var(--bg-primary-color);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


ul, ol{
    list-style-type: none;
}

P{
    font-size: 1.8em;
}

img{
    width: 60%;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}

/*******  HEADER  ******/

header{
    background-color: var(--bg-primary-color);
    padding: var(--spacing-5);
}

.navbar{  
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
    font-size: var(--font-small-lx);
}

.navbar__logo{
    display: flex;
    align-items: center;
    color: var(--text-second-color);
    max-width: 230px;
    font-size: var(--font-small);
}

.navbar__logo img{
    width: 40%;
}

.navbar__logo h2{
    width: 60%;
}

.navbar__link{
    padding: var(--spacing-10) var(--spacing-15);
    transition: background .3s ease-in-out;
    display: inline-block;
    position: relative;
}
.navbar__link:hover{
   background-color: var(--text-third-color); 
   color: var(--text-primary-color);
   
}
.navbar__cart img{
    transform: rotate(350deg);
}
.navbar__cart img:hover{
    transform: rotate(0deg);
}

/*****Main*****/


.main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 80%; /* Cambia el ancho para que sea más grande que otros elementos */
    max-width: 800px; /* Para limitar el tamaño máximo */
    height: 550px;
    padding: 20px; /* Añade algo de padding */
    background-color: var(--bg-second-color);
    color: var(--text-primary-color);
    border: 2px solid var(--text-second-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.main__title {
    font-family: var(--alternative-font);
    color: var(--text-primary-color);
    margin-bottom: var(--spacing-10);
    font-size: var(--font-medium);
}

.main__pedidos {
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
    height: 500px; 
    padding: 20px; /* Añade padding para el contenido interno */
    margin-bottom: 20px; /* Espacio abajo */
    border: 2px dashed var(--text-second-color); /* Borde para destacar el div */
    border-radius: 10px; /* Bordes redondeados */
    background-color: var(--bg-primary-color); /* Color de fondo */
}

.main__link {
    display: inline-block;
    font-size: var(--font-smallxl);
    border: 1px solid var(--text-second-color);
    background-color: var(--bg-second-color);
    color: var(--text-primary-color);
    padding: var(--spacing-8) var(--spacing-55);
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
    margin-top: var(--spacing-20);
}

.main__link:hover {
    color: var(--bg-primary-color);
    background-color: var(--text-second-color);
}

/****Footer****/

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContainer section {
    display: flex;
    align-items: center;
    padding: var(--spacing-25);
}

.footerContainer section .links {
    display: flex;
    align-items: center;
    font-size: var(--font-small-lx);
}

.footerContainer section .links ul {
    display: flex;
}

.footerContainer section .links ul li {
    margin: 0 30px;
}

.footerContainer section .links ul li a {
    color: var(--text-second-color);
    text-decoration: none;
    padding: var(--spacing-10) var(--spacing-15)
}

.footerContainer section .links ul li a:hover {
    background-color: var(--text-second-color);
    color: var(--text-primary-color); 
    transition: all .3s ease-in-out;
}
.footerContainer div{
    font-size: var(--font-small-lx);
}
.instagram-link:hover{
    color: red;
}
.twitter-link:hover{
    color: red;
}
.facebook-link:hover{
    color: red;
}

.footerContainer p {
    text-align: center; 
    color: var(--text-second-color); 
    font-size: var(--font-small-lx);
}
