:root {
    /* colours */
    --bg-primary-color: #010409;
    --bg-second-color: #333333;
    --text-primary-color: white;
    --text-second-color: orange;
    --text-third-color: orange;

    /* spacings */
    --spacing-5: 0.5rem;
    --spacing-8: 0.8rem;
    --spacing-10: 1rem;
    --spacing-15: 1.5rem;
    --spacing-20: 2rem;
    --spacing-25: 2.5rem;
    --spacing-36: 3.6rem;
    --spacing-55: 5.5rem;
    --spacing-70: 7rem;
    --spacing-100: 10rem;
    --spacing-130: 13rem;

    /* tipography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;
    --alternative-font-2: "Inter Variable", ui-sans-serif;

    /* Font Sizes */
    --font-display: 4.5em;
    --font-small-s: 0.9em;
    --font-small-l: 1.2em;
    --font-small-lx: 1.4em;
    --font-small: 1.5em;
    --font-smallxl: 1.6em;
    --font-medium: 1.8em;
    --font-large: 2.4em;
}

*,
*:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-family: var(--base-font);
    font-size: 73.5%;
    color: var(--text-second-color);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header {
    font-family: var(--alternative-font-2);
    color: var(--text-second-color);
}

.footerContainer {
    background-color: #333333;
}

.footer {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}



.link h4 {
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

.logo-1 {
    width: 0;
}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #DB241B;
    border-radius: 50%;
}

.social:hover {
    background-color: #DB241B;
}

.social img {
    margin: 8px 0 0 8px
}

main {
    background-color: var(--bg-primary-color);
    padding: var(--spacing-15);
}


ul,
ol {
    list-style-type: none;
}

P {
    font-size: 1.8em;
}

img {
    width: 60%;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

/*******  HEADER  ******/

header{
    background-color: var(--bg-primary-color);
    padding: var(--spacing-5);
}

.navbar{  
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
    font-size: var(--font-small-lx);
}

.navbar__logo{
    display: flex;
    align-items: center;
    color: var(--text-second-color);
    max-width: 230px;
    font-size: var(--font-small);
}

.menu-icon {
    display: none;
}

.menu-checkbox {
    display: none;
}

.navbar__logo img{
    width: 40%;
}

.navbar__logo h2{
    width: 60%;
}

.navbar__link{
    padding: var(--spacing-10) var(--spacing-15);
    transition: background .3s ease-in-out;
    display: inline-block;
    position: relative;
}
.navbar__link:hover{
   background-color: var(--text-second-color); 
   color: var(--text-primary-color);
   
}

.with-icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-5);
}


/***************Formulario*************/

.formContacto {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #323232;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm label,
#contactForm input,
#contactForm select,
#contactForm textarea,
#contactForm .error,
#contactForm p,
#contactForm button {
    margin-bottom: 15px;
}

#contactForm div {
    display: flex;
    align-items: center;
}

#contactForm label {
    flex: 1;
    margin-right: 10px;
    text-align: left;
}

.custom-select:focus {
    border-color: orange;
    box-shadow: 0 0 5px rgba(186, 168, 3, 0.6);
}

#contactForm select,
#contactForm input,
#contactForm textarea {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contactForm .error {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
}

#contactForm button {
    align-self: center;
    padding: 7px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: #0056b3;
}


/****Footer****/

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContainer section {
    display: flex;
    align-items: center;
    padding: var(--spacing-20);
}

.footerContainer section .links {
    display: flex;
    align-items: center;
    font-size: var(--font-small-lx);
}

.footerContainer section .links ul {
    display: flex;
}

.footerContainer section .links ul li {
    margin: 0 30px;
}

.footerContainer section .links ul li a {
    color: var(--text-second-color);
    text-decoration: none;
    padding: var(--spacing-10) var(--spacing-15)
}

.footerContainer section .links ul li a:hover {
    background-color: var(--text-second-color);
    color: var(--text-primary-color);
    transition: all .3s ease-in-out;
}

.footerContainer div {

    font-size: var(--font-small-lx);
}

.instagram-link:hover {
    color: red;
}

.twitter-link:hover {
    color: red;
}

.facebook-link:hover {
    color: red;
}

.footerContainer p {
    text-align: center;
    color: var(--text-second-color);
    font-size: var(--font-small-lx);
}

@media (max-width: 991px) {

    
    .container {
        width: 100%;
        padding: 10px;
    }


    img {
        max-width: 100%;
        height: auto;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        justify-content: flex-start;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; 
        left: 0;
        background-color: white; 
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }

    .menu-checkbox:checked ~ .navbar__menu {
        display: flex;
    }

    .menu-checkbox {
        display: none;
    }
}