
:root{
    /* colours */
    --bg-primary-color:#010409;
    --bg-second-color:#333333;
    --text-primary-color:white;
    --text-second-color:orange;
    --text-third-color:orange;

    /* spacings */
    --spacing-5:0.5rem;
    --spacing-8:0.8rem;
    --spacing-10:1rem;
    --spacing-15:1.5rem;
    --spacing-20:2rem;
    --spacing-25:2.5rem;
    --spacing-36:3.6rem;
    --spacing-55:5.5rem;
    --spacing-70:7rem;
    --spacing-100:10rem;
    --spacing-130:13rem;

    /* tipography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;
    --alternative-font-2:"Inter Variable",ui-sans-serif;

    /* Font Sizes */
    --font-display:4.5em;
    --font-small-s:0.9em;
    --font-small-l:1.2em;
    --font-small-lx:1.4em;
    --font-small:1.5em;
    --font-smallxl:1.6em;
    --font-medium:1.8em;
    --font-large:2.4em;
}

*,
*:before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    
    font-family: var(--base-font);
    font-size: 73.5%;
    color: var(--text-second-color);
}
a{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header{
    font-family: var(--alternative-font-2);
    color: var(--text-second-color);
}

.footerContainer{
    background-color: #333333;
}
.footer{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
  }


  
  .link h4{
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  
  .links ul li a{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
  }

  .logo-1{
    width: 0;
  }

  .socials{
    display: flex;
  }
  
  .social{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #DB241B;
    border-radius: 50%;
  }
  
  .social:hover{
    background-color: #DB241B;
  }
  
  .social img{
    margin: 8px 0 0 8px
  }
main{
    background-color: var(--bg-primary-color);
}


ul, ol{
    list-style-type: none;
}

P{
    font-size: 1.8em;
}

img{
    width: 60%;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}

/*******  HEADER  ******/

header{
    background-color: var(--bg-primary-color);
    padding: var(--spacing-5);
}

.navbar{  
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
    font-size: var(--font-small-lx);
}

.navbar__logo{
    display: flex;
    align-items: center;
    color: var(--text-second-color);
    max-width: 230px;
    font-size: var(--font-small);
}

.navbar__logo img{
    width: 40%;
}

.navbar__logo h2{
    width: 60%;
}

.navbar__link{
    padding: var(--spacing-10) var(--spacing-15);
    transition: background .3s ease-in-out;
    display: inline-block;
    position: relative;
}
.navbar__link:hover{
   background-color: var(--text-third-color); 
   color: var(--text-primary-color);
   
}

.with-icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-5);
}


/***************Formulario*************/
/*
.formContacto {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 100px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d;
}

form {
    background: rgb(59, 58, 58);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}



button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.9em;
}*/

.formContacto {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #323232;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm label,
#contactForm input,
#contactForm textarea,
#contactForm .error,
#contactForm p,
#contactForm button {
    margin-bottom: 15px;
}

#contactForm div {
    display: flex;
    align-items: center;
}

#contactForm label {
    flex: 1;
    margin-right: 10px;
 text-align: left;
}

#contactForm input,
#contactForm textarea {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contactForm .error {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
}

#contactForm button {
    align-self: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: #0056b3;
}

