
:root{
    /* colours */
    --bg-primary-color:#010409;
    --bg-second-color:#333333;
    --text-primary-color:white;
    --text-second-color:orange;
    --text-third-color:orange;

    /* spacings */
    --spacing-5:0.5rem;
    --spacing-8:0.8rem;
    --spacing-10:1rem;
    --spacing-15:1.5rem;
    --spacing-20:2rem;
    --spacing-25:2.5rem;
    --spacing-36:3.6rem;
    --spacing-55:5.5rem;
    --spacing-70:7rem;
    --spacing-100:10rem;
    --spacing-130:13rem;

    /* tipography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;
    --alternative-font-2:"Inter Variable",ui-sans-serif;

    /* Font Sizes */
    --font-display:4.5em;
    --font-small-s:0.9em;
    --font-small-l:1.2em;
    --font-small-lx:1.4em;
    --font-small:1.5em;
    --font-smallxl:1.6em;
    --font-medium:1.8em;
    --font-large:2.4em;
}

*,
*:before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    
    font-family: var(--base-font);
    font-size: 73.5%;
    color: var(--text-second-color);
}
a{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header{
    font-family: var(--alternative-font-2);
    color: var(--text-second-color);
}

.footerContainer{
    background-color: #333333;
}
.footer{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
  }


  
  .link h4{
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  
  .links ul li a{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
  }

  .logo-1{
    width: 0;
  }

  .socials{
    display: flex;
  }
  
  .social{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #DB241B;
    border-radius: 50%;
  }
  
  .social:hover{
    background-color: #DB241B;
  }
  
  .social img{
    margin: 8px 0 0 8px
  }
  

main{
    background-color: var(--bg-primary-color);
}


ul, ol{
    list-style-type: none;
}

P{
    font-size: 1.8em;
}

img{
    width: 60%;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}

/*******  HEADER  ******/

header{
    background-color: var(--bg-primary-color);
    padding: var(--spacing-5);
}

.navbar{  
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar__menu{
    display: flex;
    align-items: center;
    gap: var(--spacing-36);
    font-size: var(--font-small-lx);
}

.navbar__logo{
    display: flex;
    align-items: center;
    color: var(--text-second-color);
    max-width: 230px;
    font-size: var(--font-small);
}

.navbar__logo img{
    width: 40%;
}

.navbar__logo h2{
    width: 60%;
}

.navbar__link{
    padding: var(--spacing-10) var(--spacing-15);
    transition: background .3s ease-in-out;
    display: inline-block;
    position: relative;
}
.navbar__link:hover{
   background-color: var(--text-third-color); 
   color: var(--text-primary-color);
   
}

.with-icon{
    display: flex;
    align-items: center;
    gap: var(--spacing-5);
}

/***** HERO *****/

.hero{
    background-image: url(../img/banner3.jpg);
    background-size: cover;
    background-position: center;
    padding: var(--spacing-70);
    box-shadow: inset 0 0 0 2000px rgba(84,84,84,0.4);
}
 
.hero__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
}

.hero__title{
    font-family: var(--alternative-font);
    font-size:var(--font-large);
    color: var(--text-primary-color);
}

.hero__text{
    font-family: var(--alternative-font);
    font-size:var(--font-smallxl);
    color: var(--text-primary-color);
    
}

.hero__link{
    display: inline-block;
    font-size: var(--font-smallxl);
    border: 2px solid var(--text-third-color);
    background-color: var(--bg-second-color);
    color: var(--text-primary-color);
    padding: var(--spacing-8) var(--spacing-55);
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
}

.hero__link:hover{ 
    color: var(--bg-primary-color);
    background-color:var(--text-third-color);     
}

/*****COLLECTION*****/

.collection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.collection:nth-child(2) .collection__cover{

    order: -1; 
}
.collection__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
}

.collection__title{
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: bold;
}

.collection__text{
    font-family: var(--alternative-font);
    font-size: var(--font-smallxl);
    font-weight: 300;
    border-bottom: 2px solid var(--text-third-color);
    padding-bottom: var(--spacing-15);
}

.collection__cover{
    padding: var(--spacing-55) var(--spacing-8)
}

.collection__cover img{
    box-shadow: 0 0 10px 5px rgba(255, 165, 0, 1.5);
}

.collection__link{
    display: inline-block;
    font-size: var(--font-smallxl);
    border: 2px solid var(--text-third-color);
    background-color: var(--bg-second-color);
    color: var(--text-primary-color);
    padding: var(--spacing-8) var(--spacing-36);
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out;
}
.collection__link:hover{ 
    color: var(--bg-primary-color);
    background-color:var(--text-third-color);     
}