<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu | Resto</title>
    <link rel="stylesheet" href="../css/menu.css">
    <script src="https://kit.fontawesome.com/13f6806ce8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header><!-- Inicio Header -->
        <nav class="navbar container">
            <a href="/views/index.html">
                <picture class="navbar__logo">
                    <img src="/img/logo1.png" alt="Logo">
                    <h2>FoodTrack</h2>
                </picture>
            </a>

            <input type="checkbox" id="menu" class="menu-checkbox">
            <label for="menu" class="menu-icon">
                <img src="/img/menu.png" class="menu-icono" alt="">
            </label>
            
            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="/views/index.html">INICIO</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/views/menu.html">MENU</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/views/contacto.html">CONTACTO</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__cart" href="/views/carrito.html">
                        <img src="/img/cart-icon.svg" alt="Icono de carrito">
                    </a>
                </li>
            </ul>
        </nav>
    </header> <!-- Fin Header-->

    <main>
    <section>
      
        <nav class="navbar container">
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a class="navbar__lin" href="#starters">Platos Salados</a></li>
                <li class="navbar__item">
                    <a class="navbar__lin" href="#main-courses">Postres</a></li>
                <li class="navbar__item">
                    <a class="navbar__lin" href="#desserts">Sin Tacc</a></li>
                <li class="navbar__item">
                    <a class="navbar__lin" href="#drinks">Bebidas</a></li>
            </ul>
        </nav>
        
    </section>

    
        <section id="starters">
            <h2>Platos Salados</h2>
            <div class="menu-item">
                <h3>Ensalada César</h3>
                <p>Lechuga romana, crutones, queso parmesano, y aderezo César</p>
                <span class="price">$8.00</span>
            </div>

            <div class="menu-item">
                <h3>Ravioles de Verdura</h3>
                <p>Salsa Fileto</p>
                <span class="price">$1500.00</span>
            </div>
           
        </section>
        <section id="main-courses">
            <h2>Postres</h2>
            <div class="menu-item">
                <h3>Tarta de Chocolate</h3>
                <p>Rica tarta de chocolate con una bola de helado</p>
                <span class="price">$1000.00</span>
            </div>

            <div class="menu-item">
                <h3>Torta de vainilla</h3>
                <p>Rica porcion de torta, relleno con crema y durazno</p>
                <span class="price">$1000.00</span>
            </div>
           
        </section>
        <section id="desserts">
            <h2>Sin Tacc</h2>
            <div class="menu-item">
                <h3>Tarta de verdurad</h3>
                <p>Rica tarta de verdura, realiza con los mayores de los cuidados para evitar la contaminacion cruzada</p>
                <span class="price">$6.00</span>
            </div>

            <div class="menu-item">
                <h3>Fideos al pesto</h3>
                <p>Fideos sin TACC</p>
                <span class="price">$6.00</span>
            </div>
           
        </section>
        <section id="drinks">
            <h2>Bebidas</h2>
            <div class="menu-item">
                <h3>Margarita</h3>
                <p>Tequila, Cointreau, jugo de limón, y sal en el borde</p>
                <span class="price">$7.00</span>
            </div>
          
        </section>

        
    </main>
  
    <footer class="footerContainer">
        <section>
         <div class="links">
             <ul>
                 <li>
                     <a href="/views/index.html">INICIO</a>
                 </li>
                 <li>
                     <a href="/views/menu.html">MENU</a>
                 </li> 
                 <li>
                     <a href="/views/contacto.html">CONTACTO</a>
                 </li>
                 <li>
                     <a href="/views/carrito.html">CARRITO</a>
                 </li>
             </ul>
         </div>
        </section>
        <div class="social-section">
             <a href="#" class="instagram-link">
                 <i class="fa-brands fa-instagram instagram-icon"></i>
             </a>
             <a href="#" class="twitter-link">
                 <i class="fa-brands fa-twitter"></i>
             </a>
             <a href="#" class="facebook-link">
                 <i class="fa-brands fa-facebook"></i>
             </a>
         </div>
             <p align="center">
                 All rights reserved 2024 - FoodTrack &copy; <br>
                 <b>Tel:</b> 555 - 4444 | <a href="mailto:correo@hotmail.com">Correo Electronico</a>
             </p>
     </footer>

     <script src="/java/menu.js"></script>
</body>

</html>